<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
        <title>Travel App</title>
    </head>

    <body>
        
        <h1 id="heading">Travel App</h1>
        <section>
            <div id="info-container">
                <input type="text" placeholder="Place" class="field" id="place">
                <input type="date" placeholder="Place" class="field" id="departure-date">
                <input type="date" placeholder="Place" class="field" id="return-date">
                <button id="btn" type="button" value="submit">Submit</button>
            </div>
        </section>


        <main>

        </main>

    </body>
</html>
